.title {
    font-size: 33px;
    color: yellow;
}

body {
    font-family: var(--get-font);
    cursor:var(--cursor);
}

button.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: var(--alpha-color);
    font-size: 22px;
    font-family: Arial;
}

button.reset.alpha {
    background-color: var(--alpha-color);
    font-size: var(--alpha-size);
}

.alove, h2.alove {
    display: flex;
    border-style: solid;
    font-size: 4.6vh;
    border-color: var(--alove-border);
    justify-content: center;
}

button.circle2 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: var(--beta-color);
    font-size: 22px;
    font-family: Arial;
}

button.circle3 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: var(--gamma-color);
    font-size: 22px;
    font-family: Arial;
}

button.reset.beta {
    background-color: var(--beta-color);
    font-size: var(--beta-size);
}

button#upgbeta1, button#upgbeta2, button#upgbeta3, button#click, button#brickupg1 {
    background-color: var(--beta-color);
    font-size: var(--beta-size);
    font-family: var(--get-font);
}

button.reset.gamma {
    background-color: var(--gamma-color);
    font-size: var(--gamma-size);
}

.center {
    text-align: center;
}

h1.digital {
    font-family: Major Mono Display;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.9vh;
    border-style: solid;
    border-color: var(--clock-border);
    color: var(--clock-text-color);
}

label.mono {
    font-family: monospace;
    color: magenta;
}

h1[type=big] {
    font-size: 13vh;
    color: black;
    font-family: var(--get-font);
}

button.reset.int {
    background-color: snow;
    font-size: var(--gamma-size);
}

:root {
    --get-font:Arial;
    --cursor:default;
    --alpha-color:red;
    --alpha-size:22px;
    --alove-border:green;
    --beta-color:blue;
    --beta-size:23px;
    --brick-button:rgb(18, 18, 194);
    --gamma-color:green;
    --gamma-size:23.3px;
    --clock-border:gray;
    --clock-text-color:red;
}