/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2c3dcf; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(37, 51, 174); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: yellowgreen; 
  }