.level-item{
    font-size: 17.2px;
    background: hwb(240 25% 50%);
}

html[lang=en] {
    background-color: hsla(90, 53%, 45%, 0.849);
    font-family: Unifont, monospace;
}

pre {
    font-family: monospace;
}