#background-yt {
    background: hwb(5 2% 1.5%);
    width: 360px;
    height: 135px;
}

/* General */
html {
    background-color:hwb(0 50% 51%);
    font-family: sans-serif;
    -webkit-align:center;
    div-background-color:rgba(73, 198, 62, 0.984);
    unicode-yt-color:hwb(20 30% 40%);
}

::selection {
    color: hsl(80, 40%, 42%);
    background:rgba(73, 198, 62, 0.984);
}

#yttra {
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid white;
    position: absolute;
    left: 95px;
    top: 30px;
}